@import url('https://fonts.googleapis.com/css2?family=Plaster&display=swap');

.plaster-regular {
    font-family: "Plaster", system-ui;
    font-weight: 400;
    font-style: normal;
  }

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Plaster&display=swap');

.fira-code-uniquifier {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
  }